* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* flex-wrap: wrap; */
}

body {
  /* width: 100%; */
}

.TopNav {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: row;
  padding: 5px 15px;
  height: 75px;
  box-shadow: 1px 1px 10px 2px #c6cdd8;
}
.TopNav1 {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: row;
  padding: 5px 15px;
  height: 250px;
  box-shadow: 1px 1px 10px 2px #c6cdd8;
}

.NavChild {
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
}

.topnavChildA {
  flex: 1;
  gap: 10px;
}

.topnavChildB {
  flex: 4;
  padding: 0px 15px;
}

.topnavChildC {
  flex: 5;
  justify-content: end;
  /* padding: 15px 0px 15px 5px; */
  gap: 35px;
}

.magnifyglass_Image {
  width: 20px;
}

.Input {
  border-radius: 40px;
  padding: 0px 10px;
  font-family: "Inter", sans-serif;
  border-style: none;
  background-color: #f5f7fa;
  cursor: pointer;
}
.Input::placeholder {
  color: #2d60ff;
  font-family: "Inter", sans-serif;
}

.Input:focus {
  outline: none;
}

.RightPanelTopNav {
  /* border: 1px solid red; */
  display: flex;
  justify-content: end;
}

.SearchBar {
  /* flex: 1; */
  width: 255px;
  height: 35px;
  border-radius: 40px;
  gap: 10px;
  background-color: #f5f7fa;
  cursor: pointer;
}

.Setting_icon {
  /* flex: 2; */
  cursor: pointer;
}

.Setting_Icon_image {
  width: 35px;
}

.Bell_Icon {
  /* width: 35px; */
}

.Bell_Icon_Image {
  width: 35px;
  cursor: pointer;
}

.Profile_Picture {
  width: 51px;
  cursor: pointer;
}

.Profile_Image {
  width: 49px;
}

.Iconfinder_logo {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
}

.BankDash {
  font-size: 25px;
  color: #343c6a;
  font-family: "Inter", sans-serif;
}

.Iconfinder_image {
  width: 25px;
}

.heading {
  font-family: "Inter", sans-serif;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 25px;
  color: #343c6a;
}

.MenuBar{
  border:1px solid green;
  display: flex;
  align-items: center;
  justify-content: center;
   margin-left: 25px;
   display: none;
   /* background:transparent; */
}

.ImageMenuBar{
  width: 35px;
  cursor: pointer;
}

.ImageCrossBar{
   padding: 0px 10px;
   cursor: pointer;
   width: 55px;
}

/* .BarIcon[name="close-outline"] {
  display: none;
} */
/* .BarIcon[name="menu-outline"] {
  display: none;
} */

.MenuShortList{
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-direction: column;
  gap: 10px;
  display: none;
}

.MenuShortList1{
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 873px) {
  .MenuShortList1{
    display: none;
  }
  .TopNav1{
    height: 75px;
  }
}

@media (max-width: 872px) {
  .topnavChildC {
    display: none;
  }

  .Iconfinder_image {
    width: 15px;
  }
  
  .BankDash {
    font-size: 15px;
  }
  .heading {
    font-size: 15px;
  }
  .topnavChildB {
    padding: 0px 5px;
  }

  .MenuBar{
    display: flex;
  }
}




/* ..........Here from Start SideNav Css ........ */

.SideNavContainer {
  /* border: 1px solid yellow; */
  display: flex;
}

.mainContainer {
  /* border: 1px solid black; */
  width: calc(100vw - 190px);
  padding: 20px;
  background-color: #f5f7fa;
}

.SideNav {
  /* border: 1px solid red; */
  width: 190px;
  flex: 1;
  /* height: 900px; */
  box-shadow: 1px 1px 10px 2px #c6cdd8;
}

.Sidebox1 {
  /* border: 1px solid black; */

  height: 60px;
  display: flex;
  align-items: center;
  padding: 0px 0px;
  gap: 15px;
  cursor: pointer;
}

.leftBoarder {
  border-right: 4px solid blue;
  height: 57px;
  width: 5px;
  border-radius: 5px;
}
.rightBoarder {
  border-right: 4px solid white;
  height: 57px;
  width: 5px;
  border-radius: 5px;
}

.SidebarMenu {
  color: #b1b1b1;
  font-family: "Inter", sans-serif;
  font-family: "Lato", sans-serif;
  font-weight: 500;
}


@media (max-width: 600px) {
  .SideNavImage {
    width: 15px;
  }
  .SidebarMenu {
    font-size: 15px;
  }

  .Sidebox1 {
    height: 30px;
    gap: 5px;  
  }
   
  .leftBoarder {
    height: 30px;
  }
       
  .SideNav {
    width: 125px;
}
}
/* ==========================================================

       DashBoard Page CSS Start from here

========================================================== */


.dashboardPage{
  /* border: 1px solid green; */
  height: 100%;
  background-color: #f7f2f2;
}

.headingSec{
  display: flex;
  padding: 0px 35px;
  margin-bottom: 10px;
}
.headSec1{
  flex: 2;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.head1{
  font-family: "Inter", sans-serif;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #343c6a;
  align-items:center;
  justify-content: center;
}
.head2{
  font-family: "Inter", sans-serif;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 17px;
  color: #343c6a;
  align-items:center;
  justify-content: center;
}


.headSec2{
  flex: 1.10;
  display: flex;
  /* border: 1px solid black; */
  justify-content: end;
  font-family: "Inter", sans-serif;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #343c6a;

}

.AtmCardSec{
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.card {
  /* border: 1px solid black; */
  flex:1;
  /* height: 13rem; */
  border-radius: 40px;
  padding: 15px;
}

.AtmCardfrontSide{
  background-color: #2d60ff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}




.AtmCardbackSide{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.Card-Holder-Name{
  width:80%;
}

.ATM-details{
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.bal-top p{
  color: white;
  font-family: "Inter", sans-serif;
  font-family: "Lato", sans-serif;
}
.bal-tops p{
  color: black;
  font-family: "Inter", sans-serif;
  font-family: "Lato", sans-serif;
}

.bal1{
  font-size: small;
  font-weight: 300;
}
.bal2{
  font-size: larger;
}


.bal-middle {
  display: flex;
  flex-direction: column;
}
.bal-middles {
  display: flex;
  flex-direction: column;
}


.bal-middle p{
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
  font-family: "Lato", sans-serif;
}

.bal-middles p{
  display: flex;
  flex-direction: column;
  color: black;
  font-family: "Inter", sans-serif;
  font-family: "Lato", sans-serif;
}

.bal-middle .bal3 {
   font-size: small;
   font-weight: 300;
}
.bal-middles .bal3 {
   font-size: small;
   font-weight: 300;
}

.ATM-Card-Number{
  display: flex;
  justify-content: center;
  font-size:x-large;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-family: "Lato", sans-serif;
  color: white;
  padding: 1rem 0rem;
  background-color: #416df3;
  border-radius: 40px;
  box-shadow: 0px 0px 1px 1px #697ee7;
  flex-wrap: wrap;
}
.ATM-Card-Numbers{
  display: flex;
  justify-content: center;
  font-size:x-large;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-family: "Lato", sans-serif;
  color: black;
  padding: 1rem 0rem;
  background-color: white;
  border-radius: 40px;
  box-shadow: 0px 0px 1px 1px #edeff7;
  flex-wrap: wrap;
}

.AtmCardTransaction {
  display: flex;
  flex-direction: column;
  gap:10px;
  background-color: white;
}

.Recent-History{
  /* border: 1px solid green; */
  display: flex;
  gap: 65px;
  align-items: center;
  /* justify-content: center; */
  flex-wrap: wrap;
  /* justify-content: space-between; */
  padding: 0px 10px;
}

.depositeFrom {
  font-family: "Inter", sans-serif;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 16px; 
}

.depositeDate {
  font-family: "Inter", sans-serif;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 15px; 
  color: #718EBF;
}

.colorRed{
 color:red;
}
.colorGreen{
 color:green;
}


@media (max-width: 872px) {
  .card {
    flex:1;
  }
  .head2{
    font-size: 15px;
  }
  .head1{
    font-size: 15px;
  }
  .headSec2{
    font-size: 15px;
  }
  .ATM-Card-Number{
  
    font-size:small;
 
    padding: 0rem 0rem;
  
   
  }
}
@media (max-width: 600px) {

  .head1, .head2, .headSec2 {
    font-size: 10px;
  }
   .Recent-History{
    gap: 10px;
   }

}


/* ==========================================================

       DashBoard Page middle content CSS Start from here

========================================================== */

.WeeklyActivitySec{
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.GraphBarSec{
 display: flex;
 flex:2.03;
 /* border: 1px solid green; */
 padding: 15px;
 border-radius: 40px;
 flex-direction: column;
 background-color: white;

}
.GraphPieSec{
 display: flex;
 flex:1;
 /* border: 1px solid green; */
 padding: 15px;
 border-radius: 30px;
 background-color: white;
 flex-wrap: wrap;
 height: 304px;
 justify-content: center;
 align-items: center;
 
}

.diposit{
  display: flex;
  justify-content: end;
  /* border:1px solid yellow; */
  gap:35px;
  flex-wrap: wrap;

}

.withdraw{
  display: flex;  
  /* border:1px solid pink */
}

.dipositeGreen{
  display: flex;
  gap: 10px;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  color:#718EBF;
}
.Greendot{
  width: 15px;
  height: 15px;
  background-color: #16DBCC;
  border-radius: 50px;
  
  
}


.dipositeBlue{
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Inter", sans-serif;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  color:#718EBF;
}

.BlueDot{
  width: 15px;
  height: 15px;
  background-color: #1814F3;
  border-radius: 50px;
  color:#718EBF;
 
}


@media (max-width: 600px) {

  .diposit{
    justify-content: center;
    gap:5px;
    flex-wrap: wrap;
  }

  .GraphPieSec{
    height: 254px;
    height: 150px;
  }
}


/* ================== Bottom Content Section  ====== */


.quickTransferSec{
  display: flex;
  /* border: 2px solid rgb(138, 128, 128); */
  gap:10px;
  padding: 15px;
  
}
.quickTransfer{
  display: flex;
  flex:1.7;
  /* border: 1px solid red; */
  flex-direction: column;
  background-color: white;
  border-radius: 40px;
  padding-top: 25px;
}
.Transfer_History{
  display: flex;
  /* border: 1px solid rgb(10, 9, 9); */
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.TransferPersondetails{
  /* border: 1px solid rgb(205, 15, 243); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 19.36px;
  flex-wrap: wrap;
  
}

.TransferPersondetails:hover{
  cursor: pointer;
  font-weight: 600;
  
}

.TransferPersonImage{
  width: 80px;
  margin-bottom: 15px;
}

.TransferPersonName{
  font-family: "Inter", sans-serif;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.TransferPersonName:hover{
  font-weight: bold;
  font-weight: 600;
  font-size: larger;
}


.TransferPersonPost{
  font-family: "Inter", sans-serif;
  font-family: "Lato", sans-serif;
  color: #718EBF;
}

.VictorSign{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 5px 5px 15px 15px #e9ecf1;
}

.VictorImage{
  width: 20px;
}
.VictorImage:hover{
  width: 25px;
}

.Transfer_Amount{
  display: flex;
  justify-content: space-between;
  /* border: 2px solid forestgreen; */
  padding: 10px 45px 10px 75px;
  margin-top: 15px;
  align-items: center;
  flex-wrap: wrap;
}

.writeAmount{
  font-family: "Inter", sans-serif;
  font-family: "Lato", sans-serif;
  color: #718EBF;
}

.send_amount_section{
 display: flex;
 align-items: center;
 flex-wrap: wrap;
}

.Amount{

}

.InputAmount{
  padding: 10px 10px;
  border-radius: 40px;
  cursor: pointer;
  font-size: 15px;
  width: 160px;
  font-family: "Inter", sans-serif;
  font-family: "Lato", sans-serif;
  border-style: none;
  background-color: #d4d8dd;
}

.InputAmount::placeholder{
  color: #718EBF;
  opacity: none;;
}
.InputAmount:focus{
  outline: none;
}

.send{
  cursor: pointer;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap:10px ;
  background-color: #2d60ff;
  border-radius: 40px;
  border-style: none;
  position: relative;
  right: 45px;
  width: 110px;
  color: white;
  font-size: 16px;
  justify-content: center;
}





.balanceHistorySec{
  display: flex;
  flex:2;
  /* border: 1px solid red; */
  background-color: white;
  border-radius: 40px;
  padding-top: 25px;
}








@media (max-width: 600px) {
  .TransferPersonImage{
    width: 50px;
  }
  .Transfer_Amount {
    padding: 0px;
    justify-content: center;
    overflow: hidden;
  }

  .VictorSign{
    height: 10px;
    width: 10px; 
  }
  .VictorImage{
    width: 10px;
  }
  .send{
   padding: 0px;
   font-size: 12px;
   position: relative;
    right: 0px;
  }
  .Vector_icon{
    width: 10px;
  }
  .writeAmount{
    font-size: 10px;
  }
  .InputAmount{
    padding: 0px;
    width: 80px;
  }
  .send_amount_section{
    justify-content: center;
  }
}