* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* flex-wrap: wrap; */
}

body {
  height: 100vh;
  width: 100vw;
}

.MainContainer {
  height: 100vh;
  width: 100vw;
  background-color: rgb(171, 195, 195);
  display: grid;
  border: 2px solid rgb(115, 107, 107);
  gap: 0.25rem;
  grid-template-columns: 1fr 3fr 4fr;
  grid-template-rows: 1fr 4fr 4fr;
}

.item {
  background-color: rgb(94, 94, 175);
  border: 2px solid black;
  display: flex;
  /* justify-content: center;
  align-items: center; */
}

.Header {
  grid-column-start: 1;
  grid-column-end: 4;
  height: 101px;
}

.SideBar {
  grid-row-start: 2;
  grid-row-end: 4;
  width: 250px;
  display: flex;
}

.Content {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 4;
}

.SideNav {
  /* display: flex; */
  padding: 1px;
  border: 1px solid red;
  flex-wrap: wrap;
  width: 250px;
}

.dashboardMainDiv {
  border: 2px solid green;
  width: 241px;
  height: 60px;
  display: flex;
  margin-bottom: 5px;
}

.sidebar {
  border-right: 5px solid white;
  border-radius: 5px;
  display: flex;
}

.sidebars {
  border-right: 5px solid #2d60ff;
  border-radius: 5px;
  display: flex;
}

.dashboard {
  border: 1px solid yellow;
  margin-left: 44px;
  width: 188px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.img {
  margin-right: 25px;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}
