* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* flex-wrap: nowrap; */
}

body {
  background-color: #eee;
}

.sidenav {
  background-color: chocolate;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  width: 250px;
  height: 100vh;
}

.iconfinder_1 {
  background-color: antiquewhite;
  width: 183px;
  height: 36px;
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  color: #343c6a;
  justify-content: space-between;
  /* margin-bottom: 10px; */
  margin-top: 31px;
  margin-left: 38px;
}

.sidenavOption {
  background-color: honeydew;
  width: 211px;
  height: 554px;
  margin-top: calc(114px - 67px);
}
.Option {
  background-color: aqua;
  height: 554px;
  padding-left: 44px;
}

.OptionList_UL {
  display: flex;
  flex-direction: column;
  gap: 1px;
  background-color: bisque;
}

.list {
  list-style: none;
  display: flex;
  /* margin-bottom: 30px; */
  gap: 15px;
  align-items: center;
  background-color: yellow;
  height: 60px;
}

/* .A {
  background-color: yellow;
  gap: 15px;
  align-items: center;
} */

.BlueColoronClick {
  color: #2d60ff;
}
